<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Calculator</title>
    </head>
    <body>
        <h1>Calculator</h1>
        <main>
            <form method="POST" action="/add">
                <fieldset>
                    <legend>Add</legend>
                    <label for="firstnum">First number:</label><br>
                    <input type="text" name="firstnum" value=""><br>
                    <label for="secondnum">Second number:</label><br>
                    <input type="text" name="secondnum" value=""><br>
                    <input type="submit" value="Calculate">
                </fieldset>
            </form>
            <form method="POST" action="/subtract">
                <fieldset>
                    <legend>Subtract</legend>
                    <label for="firstnum">First number:</label><br>
                    <input type="text" name="firstnum" value=""><br>
                    <label for="secondnum">Second number:</label><br>
                    <input type="text" name="secondnum" value=""><br>
                    <input type="submit" value="Calculate">
                </fieldset>
            </form>
            <form method="POST" action="/multiply">
                <fieldset>
                    <legend>Multiply</legend>
                    <label for="firstnum">First number:</label><br>
                    <input type="text" name="firstnum" value=""><br>
                    <label for="secondnum">Second number:</label><br>
                    <input type="text" name="secondnum" value=""><br>
                    <input type="submit" value="Calculate">
                </fieldset>
            </form>
            <form method="POST" action="/divide">
                <fieldset>
                    <legend>Divide</legend>
                    <label for="firstnum">First number:</label><br>
                    <input type="text" name="firstnum" value=""><br>
                    <label for="secondnum">Second number:</label><br>
                    <input type="text" name="secondnum" value=""><br>
                    <input type="submit" value="Calculate">
                </fieldset>
            </form>
        </main>
    </body>
</html>